*{
    font-family: 'Nunito', sans-serif;
}

.navbar-nav .active::after {
    content: '';
    display: block;
    border-bottom: 4px solid #f8f9fa; /* Color de la barra */
    position: absolute;
    bottom: 0;
    width: 4%;
}
